.link {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 auto;
    margin: 5rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: whitesmoke;
    border: 1px solid grey;
}